name: color_picker_example
description: Two examples of how to use the FlexColorPicker package.
version: 2.0.0-nullsafety.3

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flex_color_picker:
    path: ../

  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  test:

flutter:
  uses-material-design: true
