name: color_picker_example
description: Demo of the ColorPicker package.
version: 1.1.1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flex_color_picker:
    path: ../

  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
