# This GitHub action runs on a release, when it is published, created or edited.
#
#  - Installs dart and flutter
#  - Uses flutter beta channel for now.
#  - Enables flutter web
#  - Gets package dependencies
#  - Runs dart analyze, allows deprecation warnings, we on purpose allow use of deprecated features on beta channel,
#    as they might not yet be deprecated on stable and we will keep using some of the features that are deprecated
#    as long as they are not also deprecated on stable.
#  - Show outdated packages, just added for info.
#  - Verify that dart format is used by all committed code, fails if not. Controversial but pub.dev penalizes you if
#    dart format is not used.
#  - Run all tests with coverage.
#  - Upload code coverage output to Codecov for analysis.
#  - Install linux rpl tool. It is used to automate the needed change of a line in index.html.
#  - Build the WEB demo app for FlexColorPicker.
#    - Flutter clean.
#    - Flutter build web app, in release mode and with CanvasKit renderer.
#    - Use rpl to fix/modify the index.html file to give it the correct href deployment sub-folder.
#    - Deploy each built Web App to GitHub pages.
#
name: Deploy Web
on:
  #release:
  #  types: [published]
  push:
    branches: [master]
# Edit and add other trigger options if an extra new Web deployment is needed.
# Generally I only need a new deployment when I publish a new release, but I may want to trigger it on defaults:
# prerelease or just an edit sometimes to test the workflow or a new build irl, these trigger types can be used then:
#    types: [published, created, edited, prereleased]
jobs:
  flutter_tests:
    name: Analyze, test build and deploy 5 web apps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter and Dart SDK
        uses: subosito/flutter-action@v1.4.0
        with:
          channel: "beta"
      - name: Show Dart SDK version
        run: dart --version

      - name: Show Flutter SDK version
        run: flutter --version

      - name: Flutter Enable Web
        run: flutter config --enable-web

      - name: Install Flutter package dependencies
        run: flutter pub get

      - name: Analyze Dart source
        run: dart analyze

      - name: Show outdated packges
        run: flutter pub outdated

      - name: Verify that Dart formatting is used, fail if not
        run: dart format --output=none --set-exit-if-changed .

      - name: Test package FlexColorScheme using test coverage
        run: flutter test --coverage

      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info

      - name: Install rpl
        run: sudo apt-get install rpl

      # Default Example Build

      - name: DEFAULT EXAMPLE START BUILD - Flutter clean before build
        run: flutter clean && cd example && flutter clean

      - name: EXAMPLE WEB release build using CanvasKit
        run: cd example && flutter build web --web-renderer canvaskit --release -t lib/main.dart

      # Web Build and deploy

      - name: WEB EXAMPLE START BUILD - Flutter clean before build
        run: flutter clean && cd example && flutter clean

      - name: WEB EXAMPLE release build using CanvasKit
        run: cd example && flutter build web --web-renderer canvaskit --release -t lib/demo/main.dart

      - name: WEB EXAMPLE FIX href URL reference before publish
        run: rpl '<base href="/">' '<base href="/flexcolorpicker/">' example/build/web/index.html

      - name: WEB EXAMPLE DEPLOY to GitHub Pages repository, published on commit.
        uses: dmnemec/copy_file_to_another_repo_action@v1.0.4
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'example/build/web/.'
          destination_folder: 'flexcolorpicker'
          destination_repo: 'rydmike/rydmike.github.io'
          user_email: 'm.rydstrom@gmail.com'
          user_name: 'rydmike'

